body {
    background: radial-gradient(
        circle,
        #1a8c4a 0%,
        #0f6b35 50%,
        #084d25 100%
    );
}

#mesa {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.carta {
    width: 60px;
    height: 90px;
    margin: 5px;

    border: 2px solid black;
    border-radius: 8px;

    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transition:
        transform .35s ease,
        background-color .2s;
}