body {
    background: radial-gradient(
        circle,
        #1a8c4a 0%,
        #0f6b35 50%,
        #084d25 100%
    );
}

#mesa {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.carta {
    position: relative;

    width: 60px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    border: 2px solid black;
    border-radius: 8px;
}

.valor {
    font-size: 28px;
    font-weight: bold;
}

.naipe {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
}

.topo {
    top: 5px;
    left: 6px;
}

.baixo {
    bottom: 5px;
    right: 6px;
    transform: rotate(180deg);
}

.vermelha {
    color: #d62828;
}